
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #2a5298;
  box-shadow: 0 0 5px rgba(42, 82, 152, 0.4);
  outline: none;
}

#escolha{
  width: 100%;
  padding: 17.55555px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17.55555px;
  transition: background 0.3s;
}

button {
  width: 100%;
  padding: 12px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: #1e3c72;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #2a5298;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}